<!DOCTYPE html>
<head>
  <title>{{title}} - {{siteName}}</title>
  <link rel="stylesheet" href="/styles/style.css">
  <link rel="stylesheet" href="/styles/solarized-dark.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Open Graph -->
  <meta property="og:url" content=""/>
  <meta property="og:type" content="article"/>
  <meta property="og:title" content="{{title}}"/>
  <meta property="og:description" content="{{description}}"/>
  <meta property="og:image" content=""/>
</head>
<body>
